@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,100;1,400&display=swap');

:root {
  --grenat-color: #430211;
  --light-brown-color: #AA8F66;
  --green-color: #2A9D8F;
  --black-color: #1F271B;
  --white-color: #E5FCF5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -- Layout -- */

header {
  flex: 1;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

main {
  flex: 5;
  padding-top: 1rem;
}

.form-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  padding: 1rem 1rem;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#book-pages {
  width: 6ch;
}

.form-container legend {
  margin-bottom: .625rem;
}

.btn-form-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-form-container button {
  padding: .5em 1.5em;
}

.library-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  place-items: center;
}

#grid-header {
  margin-bottom: 1.875rem;
}

/* -- Style -- */

body, 
button {
  font-family: 'Raleway', sans-serif;
  color: var(--black-color);
}

header {
  background-color: var(--grenat-color);
}

h1 {
  color: var(--white-color);
}

main {
  background-color: var(--light-brown-color);
}

.form-popup {
  background-color: var(--white-color);
}
