@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,100;1,400&display=swap');

:root {
  --grenat-color: #430211;
  --light-brown-color: #AA8F66;
  --green-color: #2A9D8F;
  --font-color-black: #1F271B;
  --font-color-white: #E5FCF5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -- Layout -- */

header {
  flex: 1;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

main {
  flex: 5;
  padding: 1rem 2rem
}

.form-popup {
  display: none;
}

.library-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  place-items: center;
}

#grid-header {
  margin-bottom: 1.875rem;
}

/* -- Style -- */

body, 
button {
  font-family: 'Raleway', sans-serif;
  color: var(--font-color);
}

header {
  background-color: var(--grenat-color);
}

h1 {
  color: var(--font-color-white);
}

main {
  background-color: var(--light-brown-color);
}
